:host {
  width: 100vw;
  height: calc(100vh - var(--size-height-top-bar));
  margin-top: var(--size-height-top-bar);
  
  position: relative;
  
  display: grid;
  grid-template-columns: 1fr 2fr;
  
  @media (max-width: 853px) {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    height: auto;
    min-height: calc(100vh - var(--size-height-top-bar));
  }
}

.timer {
  justify-self: center;
}

.todo-list {
  justify-self: center;
  overflow-x: hidden;
  overflow-y: auto;
}
