<div class="container" [ngClass]="{ done: todo.done }">
  <p class="text-description">{{ todo.description }}</p>
  <div class="actions">
    <a class="done" (click)="onSetDone()" *ngIf="!todo.done">
      <span class="material-icons"> check </span>
    </a>
    <a class="restore" (click)="onSetDone()" *ngIf="todo.done">
      <span class="material-icons"> restore </span>
    </a>
    <a class="delete" (click)="onDelete()"
      ><span class="material-icons"> delete </span>
    </a>
  </div>
</div>
