:host {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 32px;

  background: linear-gradient(75deg, var(--color-primary), #93291e);

  box-shadow: gray 2px 0px 10px;
  color: var(--color-secondary);
}
