:host {
  width: 100%;
  padding: 4rem 2rem;
}

.empty-list {
  font-family: var(--font-logo);
  font-size: var(--size-font-24);
  color: var(--color-primary);
  text-align: center;
}

.add-button {
  align-self: center;
  margin-top: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
