button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  outline: none;
  border-radius: 4px;
  
  padding: 0.4rem 0.8rem;
  font-size: var(--size-font-24);
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px;
  
  &.small {
    padding: 0.2rem 0.4rem;
    font-size: var(--size-font-16);
  }
  
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 10px;
  }
  &:active {
    box-shadow: none
  }
}