:root {
  // colors
  --color-primary: #df2900;
  --color-secondary: #f9f6f6;

  // font families
  --font-logo: "Pacifico", cursive;
  --font-text: "Fira Sans", sans-serif;

  // font sizes
  --size-font-64: 4rem;
  --size-font-48: 3rem;
  --size-font-32: 2rem;
  --size-font-24: 1.5rem;
  --size-font-20: 1.25rem;
  --size-font-16: 1rem;

  // custom sizes
  --size-height-top-bar: 60px;
}
